@import 'buttons';

.home{
    background-color: var(--color-bgLigth);
    width: 98%;
    height: auto;
    min-height: 85vh;
    margin: 0 auto;
    border-radius: 1.5rem;
    padding: 0 1rem;
    display: flex;

    .h-content{
        width: 50%;
        color: white;
        padding-left: 4rem;
        padding-top: 4rem;
        padding-bottom: 1rem;
        display: flex;
        flex-direction: column;
        gap: 2rem;
        
            h1{
                font-size: 3.5rem;
                font-weight: 500;
            }
            h4{
                font-size: 2.5rem;
                color: var(--color-primary);
            }
                
            
            ul{
                li{
                display: flex;
                gap: 1rem;
                list-style: none;
                margin: 1rem 0;
                
                i{
                    color: var(--color-secundary)
                }
            }
        }
            .h-content_btn{
                @include button();

                &:hover{
                    box-shadow: none;
                    transition: .4s;
                }
            }
    }
    .image-main{
        max-width: 100%;
        position: relative;
        margin: 0 auto;
    }
}

@media (max-width:980px){
    .home{
        flex-direction: column;

        .h-content{
            width: 100%;
            padding-left: 0;
            justify-content: center;
            align-items: center;
            text-align: center;
        }
        .image-main{
            margin: 0 auto;
        }
    }
}

@media (max-width:556px){
    .home{
        .h-content{
            h1,h4{
                font-size: 2.5rem;
            }
        }
    }
}

@media (max-width:420px){
    .home{
        .h-content{
            h4{
                font-size: 2rem;
            }
        }
    }
}